<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="2.0">
    <persistence-unit name="ContractSystem"
                      transaction-type="RESOURCE_LOCAL">
        <class>com.haulmont.contractsystem.entity.Contract</class>
        <class>com.haulmont.contractsystem.entity.Contractor</class>
        <class>com.haulmont.contractsystem.entity.ContractUser</class>
        <class>com.haulmont.contractsystem.entity.WebdavContract</class>
        <class>com.haulmont.contractsystem.entity.ContractWithDisabledWebdav</class>
        <class>com.haulmont.contractsystem.entity.ContractWithSimpleFileDescriptor</class>
        <class>com.haulmont.contractsystem.entity.EntityWithManyToManyFileDescriptor</class>
    </persistence-unit>
</persistence>
