<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="2.0">
    <persistence-unit name="ContractSystem"
                      transaction-type="RESOURCE_LOCAL">
        <class>com.haulmont.contractsystem.entity.ContractUser</class>
        <class>com.haulmont.contractsystem.entity.ContractFDWithEnabledWebdavEnabledVersioning</class>
        <class>com.haulmont.contractsystem.entity.ContractFDWithDisabledWebdav</class>
        <class>com.haulmont.contractsystem.entity.ContractFDWithDefaultBehaviour</class>
        <class>com.haulmont.contractsystem.entity.ContractFDWithEnabledWebdavDisabledVersioning</class>
        <class>com.haulmont.contractsystem.entity.ContractWDWithEnabledVersioning</class>
        <class>com.haulmont.contractsystem.entity.ContractWDWithDisabledVersioning</class>
        <class>com.haulmont.contractsystem.entity.ContractWDWithDefaultBehaviour</class>
    </persistence-unit>
</persistence>
